
<footer class="text-right my-6 px-8 text-small font-medium text-gray-700">
  <p class="inline-block max-w-sm leading-tight">
    Copyright &copy; 2020 Tiffany Hooton<br /><br />
    <a class="" href="/disclaimer/">Disclaimer</a>
    |
    <a href="/privacy-policy/">Privacy Policy</a>
  </p>
</footer>
