<footer class="flex flex-col md:flex-row my-6 px-8 bg-gray-700 text-white font-medium mt-8 mb-0">
  <div class="md:w-1/4 py-4 md:pr-4">
    <h3 class="mb-4 font-semibold text-xl">Contact Information</h3>
    <p class="leading-tight">
      <strong>Office:</strong><br />
      <a href="https://www.google.com/maps/place/851+Pine+Ave+%23102,+Long+Beach,+CA+90813/@33.777548,-118.194746,17z/data=!3m1!4b1!4m5!3m4!1s0x80dd3146727b2c67:0xbe4a52b19508031!8m2!3d33.7775436!4d-118.1925573?shorturl=1" rel="noreferrer noopener"
        target="_blank" class="anchor">851 Pine Ave<br />#102<br />Long Beach, CA 90813
      </a>
    </p>
    <p>
      <small class="text-small leading-tight">
        Located in Downtown Long Beach and easily accessible by public
        transportation. Unfortunately, the office currently requires
        climbing stairs to access.
      </small>
    </p>
  </div>
  <div class="md:w-1/4 pb-4 md:pr-4">
    <p>
      <strong>Phone:</strong><br />
      <a href="tel:714-500-7756" class="anchor">714-500-7756</a>
    </p>
    <p>
      <strong>Email:</strong><br />
      <a class="break-words" href="tiffanyhootontherapy@protonmail.com">TiffanyHootonTherapy@protonmail.com</a>
    </p>
  </div>
  <div class="md:w-1/4 pb-4 md:pr-4">
    <h3 class="mb-4 font-semibold text-xl">Associate Registration & Supervision</h3>
    <p>
      AMFT #115397 | APCC #6793
    </p>
    <p>
      Under the supervision of
      <a href="https://www.therapyden.com/therapist/monica-provence-long-beach-ca" rel="noopener noreferrer" target="_blank" class="anchor">Monica Provence</a>, LMFT #87245
    </p>
  </div>
  <div class="md:w-1/4 pb-4 md:pr-4 text-right">
    <p class="inline-block max-w-sm leading-tight">
      Copyright &copy; 2020 Tiffany Hooton<br /><br />
      <a href="/disclaimer/">Disclaimer</a>
      |
      <a href="/privacy-policy/">Privacy Policy</a>
    </p>
    <!-- Professional verification provided by Psychology Today -->
    <a href="https://www.psychologytoday.com/profile/703413" target="_blank" rel="noopener   noreferer" class="sx-verified-seal border-none block ml-auto"></a>
    <script type="text/javascript" src="https://member.psychologytoday.com/verified-seal.js" data-badge="11" data-id="703413"
      data-code="aHR0cHM6Ly93d3cucHN5Y2hvbG9neXRvZGF5LmNvbS9hcGkvdmVyaWZpZWQtc2VhbC9zZWFscy9bQkFER0VdL3Byb2ZpbGUvW1BST0ZJTEVfSURdP2NhbGxiYWNrPXN4Y2FsbGJhY2s=" defer></script>
    <!-- End Verification -->
  </div>
</footer>
