
<header class="bg-dark flex justify-between px-4 py-2 mb-10" >
  <p class="font-medium text-2xl leading-tight w-1/2 z-50"><a href="/">{{ title }}<br /><small class="text-sm">with Tiffany Hooton</small></a></p>
  <nav id="nav">
    {%
      set linkList = [
        { "url": "/#about" , "text": "About"},
        { "url": "/transgender-therapy-long-beach/" , "text": "Gender Therapy"},
        { "url": "/therapy-for-trans-partners-long-beach/" , "text": "Therapy for Trans Partners"},
        { "url": "/couples-therapy-long-beach/" , "text": "Couples Therapy"},
        { "url": "/#contact" , "text": "Contact"}
      ]
    %}
    {% include "navigation-links.njk" %}
  </nav>
</header>
