<ul class="flex text-right flex-col absolute top-0 right-0 pt-12 p-4 bg-pink-200 shadow-lg w-full md:flex-row md:text-center md:mt-2 md:mr-0 md:shadow-none md:bg-transparent md:static md:w-auto md:flex md:p-0" id="navContent">
  {% for link in linkList %}
    <li class="pb-4 md:pr-4 max-w-1/2">
      <a href="{{ link.url }}">
        {{ link.text }}
      </a>
    </li>
  {% endfor %}
</ul>
