
<ul class="flex text-right flex-col md:flex-row md:text-center">
  {% for link in linkList %}
    <li class="pb-3 md:pr-3">
      <a href="{{ link.url }}" class="hover:text-pink-900">
        {{ link.text }}
      </a>
    </li>
  {% endfor %}
</ul>
