<ul class="flex flex-col justify-center p-4 fixed top-0 right-0 text-2xl bg-pink-200 shadow-lg w-screen h-screen md:flex-row md:text-center md:mt-2 md:mr-0 md:shadow-none md:bg-transparent md:static md:text-lg md:w-auto md:h-auto md:flex md:p-0" id="navContent">
  {% for link in linkList %}
    <li class="pb-4 md:pr-4">
      <a href="{{ link.url }}">
        {{ link.text }}
      </a>
    </li>
  {% endfor %}
</ul>
