<!doctype html>
<html lang="en" class="box-border" style="scroll-behavior: smooth;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,800&display=swap" rel="stylesheet">
    <title>{{ title }}</title>
    {% include "social.njk" %}
    <meta name="robots" content="noindex">
  </head>
  <body class="font-body text-gray-700 text-md md:text-lg lg:text-xl">
    {% include "header.njk" %}
    <div class="container mx-auto lg:max-w-4xl content leading-relaxed">
      {{ content | safe }}
    </div>
      {% include "footer.njk" %}
    {% set js %}
    {% include "js/core.js" %}
    {% include "js/hello.js" %}
    {% include "js/menuToggle.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script>
    <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
  </body>
</html>
