---
layout: default
pageClass: page
templateEngineOverride: njk, md
---
<section>
  <h1 class="heading text-right p-4 bg-pink-200">{{ title }}</h1>
  <div class="mb-4 text-lg font-medium markdown">
    {{ content | section | safe }}
  </div>
  <div class="markdown">
    {{ content | section('remainder') | safe }}
  </div>
</section>
