---
title: Affirming Therapy Long Beach
layout: default
---

{% for item in collections.home %}
<div class="flex text-lg lg:text-xl mb-8">
  <div class="w-1/2">
    <p class="text-4xl">{{ item.data.intro.title }}</p>
    {{ item.data.intro.body | safe }}
    <a class="inline-block bg-pink-200 border-2 border-pink-200 border-solid rounded-lg hover:bg-white hover:border-pink-200 px-3 py-2 my-3 text-sm font-bold" href="/#contact">Contact Me For A Free Consultation</a>
  </div>
  <figure class="w-1/2 p-5">
    <img src="/images/tiff-image.jpg" class="object-cover " />
  </figure>
</div>
<div class="text-md md:text-lg lg:text-xl p-8 mb-8 bg-pink-200 markdown">
  {{ item.templateContent | safe }}
</div>
{% endfor %}
{% include "contact.njk" %}

<div class="text-right my-6 px-8 text-small font-medium text-gray-700">
  <p class="inline-block max-w-sm leading-tight">
    Copyright &copy; 2020 Tiffany Hooton<br /><br />
    <a class="" href="/disclaimer/">Disclaimer</a>
    |
    <a href="/privacy-policy/">Privacy Policy</a>
  </p>
</div>
